$dark-version-body-color: rgba(255, 255, 255, 0.8) !default;
$dark-version-bg-color: #0a1628 !default;
$dark-version-sidenav-bg-color: #111827 !default;
$dark-version-card-bg-color: #1f2937 !default;
$dark-version-card-box-shadow:
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 1px 5px 0 rgba(0, 0, 0, 0.12) !default;
$dark-version-input-bg-image: linear-gradient(
    0deg,
    rgba(144, 177, 64, 1) 2px,
    rgba(144, 177, 64, 0) 0
  ),
  linear-gradient(0deg, rgba(144, 177, 64, 0.3) 1px, rgba(144, 177, 64, 0) 0) !default;
$dark-version-border-color: rgba(144, 177, 64, 0.2) !default;
$dark-version-table-color: rgba(255, 255, 255, 0.6) !default;
$dark-version-caret-sidebar-color: rgba(206, 212, 218, 0.7) !default;
$dark-nav-link-active-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.15) !default;
